[submodule "lib/haskell-mode"]
	path = lib/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "lib/idris-mode"]
	path = lib/idris-mode
	url = https://github.com/idris-hackers/idris-mode.git
[submodule "lib/structured-haskell-mode"]
	path = lib/structured-haskell-mode
	url = https://github.com/chrisdone/structured-haskell-mode.git
